html {
  overflow-y: scroll;
}

.app-nav li:first-child {
  margin-left: 20px;
}

.app-block {
  margin: 20px;
}

.filter-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-team-form {
  margin-top: 40px;
  margin-bottom: 20px;
}

#team-accordion .panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 1px;
}

#team-accordion .list-group .list-group-item {
  padding-left: 30px;
}

#review-accordion thead th { 
  width: 25%; 
}

.reviews-table {
  margin-bottom: 0;
}

.reviews-table td:first-child, 
.reviews-table td:last-child {
  width: 25%;
}

/* ngTagsInput as input-group */

tags-input .host {
  z-index: 2;
}

tags-input .tags {
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

tags-input .tags.focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

tags-input .tags input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

tags-input .tags input:-ms-input-placeholder {
  color: #777;
}

tags-input .tags input::-webkit-input-placeholder {
  color: #777;
}

.input-group tags-input:first-child .tags {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Autocomplete */
tags-input .autocomplete .suggestion-item,
tags-input .autocomplete .suggestion-item em {
  font-size: 14px;
}