<form role="form">

	<div class="form-group">
    <label for="tagManager" class="sr-only">Tag manager</label>
    <div class="input-group">
      <tags-input ng-model="tags" display-property="name" placeholder="Name, Job or Grade" add-from-autocomplete-only="true">
        <auto-complete source="filterValues($query)" min-length="1"></auto-complete>
      </tags-input>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" ng-click="refreshTeam()">Refresh</button>
      </span>
    </div>
  </div>

 </form>
